<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Detektívka na MATFYZE</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'detektivka/game_page.css' %}">
    </head>
    <body>
        <div class="title">
            <h1>DETEKTÍVKA NA MATFYZE:</h1>
            <p>Niekto na MATFYZ-e odinštaloval zo všetkých počítačov LINUX. Jediné, čo po páchateľovi ostalo, boli Windows-y.
                Pokúsiš sa nájsť vinníka?</p>
        </div>

        <div class="help">
            <h2>NÁPOVEDA:</h2>
            <p>{{ question }}</p>
        </div>

         <div class="flex-container-1">
             <div class="text-window">
                 <form method="POST">
                     <input type="submit" value="POŠLI DOTAZ NA OTESTOVANIE"> <br>
                    <input type="hidden" id="question_id" name="question_id" value= {{ counter }}>
                    {% csrf_token %}
                    {{ code_form }}
                </form>
                <p> ODPOVED: {{ response }}</p> <br>
                <form method="POST">
                    <input type="submit" value="CHCEM ĎALŠIU NÁPOVEDU">
                    <input type="hidden" id="question_id" name="question_id" value= {{ counter }}>
                    {% csrf_token %}
                </form>
             </div>
             <div style="flex: auto">
                 <div class="flex-container-2">
                     <div>
                         <button>POVODNE PREDIKATY</button>
                     </div>
                     <div>
                         <button>HISTORIA</button>
                     </div>
                 </div>
             </div>
        </div>
    </body>
</html>

